/*El * es un selector universal, para resetear el estilo del programa*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



main{
    width: 100%; /*Que tan largo*/
    height: 500px; /*Qué tan algi*/
    border: 10px solid grey;
    padding: 20px 35px; /*Parte de arriba-abajo y derecha-izquierda*/
}