 *{
    box-sizing: none;
    padding: 0;
    font-family: 'Soleil', sans-serif;
    background-color:#D8D8D8;
  }


 #Paisaje_Principal{
    object-fit: cover;
    height: 300px;
    width: 100%;
}
#hea{
    background-color: #4BCEEB; 
    
}
.iconify{
    width: 75%;
    height: 60px;
    background-color: #4BCEEB; 
} 

#botton{ 
    background-color: #4BCEEB; 
    color: #E9636D;
    font-family: 'Soleil', sans-serif;  
} 

#trip{
    text-decoration: solid;
    background-color: #4BCEEB; 
} 
#img{
    width: 355px;
    height: 100px;
    background-color: #4BCEEB; 
  
} 
 #img_secundaria{
    display:block;
    margin:0px auto;
    border-radius: 50%;
    position:absolute;
    right: 100px;
    left: 130px;
    top: 310px;
    background-color: transparent;
   
 }

#friendsto{
    background-color: white;
    border:1px solid #e3ac97;
    border-radius: 1.5em; 
    height: 250px;
    width: 4200px;
    margin-top: 40px;
   }

   #friendsto2{
    background-color: white;
    border:1px solid #e3ac97;
    border-radius: 1.5em;
    margin: 80px 0 0 10px;

   }
#Cuadro_Interes_Principal{
    background-color: white;
    border-radius: 1.5em;
    text-align: center;
    height: 160px;
}
