*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1{
    color: purple ;
    margin-bottom: 10px;
    font-family: serif;
}
.title {
    font-size: 18px;
    font-family: monospace;
}

.nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}
 
.nav li{
    display: inline-block;
}

.nav a { /*0,1,1 una clase y un id*/
    color:white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.nav .blog { /*0,2,0 hay dos id por eso es más importante que una clase*/
    background-color: red; /*!No es buena practica*/
}